*{
    padding: 0;
    margin: 0;  
    text-decoration: none;   
    background: #000;
    color: #f80;
    font-family: sans-serif;
}
h1{font-size: 40px;}
h2{font-size: 30px;}
p.descripcion{
    font-size: 20px;
    
}